# macOS only
.DS_Store

# Python build and test artifacts
__pycache__
*.egg-info
.coverage
coverage.xml
htmlcov/
.pytest_cache/
dist/

# Pyve virtual environment
.pyve/testenv
.envrc
.env
.venv
# Generic

# Project
.archive
/site/
out/

# removed and added with `pyve --init --force`
